* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
}

section {
  width: 100%;
  height: 100vh;
  padding: 50px;
  border: 10px solid white;
  background-color: gray;
}

h1,
h2 {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#progress {
  appearance: none;
  background-color: red;
  color: white;
  border: 2px solid black;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* https://dev.to/highflyer910/my-new-favorite-css-trick-will-change-5791 */

#upload-file {
  border: 2px solid black;
  padding: 5px;
  background-color: gold;
  will-change: transform;
  transition: transform 0.3s ease;
}

#upload-file:hover {
  transform: scale(1.3);
}

/* https://unwiredlearning.com/blog/css-transform-performance */

.box-container-layout {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
}

.box-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
  transition:
    top 0.3s,
    left 0.3s;
}

.box-layout:hover {
  top: 100px;
  left: 100px;
}

.box-container-transform {
  width: 500px;
  height: 500px;
  background-color: white;
}

.box-transform {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: transform 0.3s;
}

.box-transform:hover {
  transform: translate(100px, 100px);
}
